body {
    font-family: Heebo, sans-serif; 
    margin: 0 auto;
    width: 1152px;
    
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: end;
    margin: 1em;
    
}

nav li {
    padding: 1em;
    font-size: 1.25em;
    font-weight: 500;
}

nav a {
    text-decoration: none;
    color: #000000;
}

nav a:hover {
    color: #00A8CC;
}

img {
    max-width: 100%;
    display: block;
    
}

.head {
    display: flex;
    width: 90%;
    max-width: 900px;
}

.portfolio-picture { 
    border-radius: 50%;
    width: 245px;
    height: 245px;
}

.column-one {
    flex: 2;
}

.column-two {
    flex: 1;
}

.btn {
    background-color: #ff6464;
    color: #ffffff;
    font-size: 1,25em;
    border: none;
}

.container-posts {
    background-color: #EDF7FA;
}
.posts-nav {
    display: flex;
}

.box-left,
.box-right {
    flex: 1;
}

.box-right {
    text-align: end;
}

.posts {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.post {
    width: 418px;
    border-radius: 4px;
    background-color: #ffffff;
}