body {
    font-family: 'Heebo', sans-serif; 
    margin: 0 auto;
    max-width: 1152px;
    box-sizing: border-box;
    color: #21243D;

}

header {
    margin-bottom: 2rem;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: end;
    margin: 1em;
    
}

nav li {
    padding: 1em;
    font-size: 1.25em;
    font-weight: 500;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    color: #00A8CC;
}

img {
    max-width: 100%;
    display: block;
    
}

.container-head,
.posts-nav {
    display: flex;
    justify-content: space-around;
    padding: 0 5rem 0 5rem;
    
}

.container-head h1 {
    font-weight: 900;
}

.container-head {
    padding-bottom: 1rem;
}

.portfolio-picture { 
    border-radius: 50%;
    width: 245px;
    height: 245px;
    margin-left: auto;
    box-shadow: -10px 10px #EDF7FA;

}

.column-one {
    flex: 2;
}

.column-two {
    flex: 1;
    }

.paragraph-one {
    margin-right: 4rem;
}

.btn {
    background-color: #ff6464;
    color: #ffffff;
    font-size: 1.25rem;
    border: none;
    padding: 0.5em;
}

.container-posts {
    background-color: #EDF7FA;
}


.box-left,
.box-right {
    padding-top: 1rem;
    flex: 1;
}

.box-right {
    text-align: end;
}

.posts {
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem 2rem 5rem;
    margin-bottom: 1rem;
}
.post {
    
    border-radius: 4px;
    background-color: #ffffff;
    padding: 3rem;
}

.post-left {
    margin-right: 0.5rem;
}
.post-right {
    margin-left: 0.5rem;
}

.featured {
    margin-left: 5rem;
    padding-top: 1rem;
}

.works {
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    justify-content: space-around;
    margin: 0 5rem 0 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.span-left {
    background-color: #142850;
    border-radius: 1rem;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 900;
    padding: 0.1rem 0.7rem 0.2rem 0.7rem;
}

.span-right {
    color: #8695A4;
    margin-left: 1rem;
}

.works-img {
    border-radius: 6px;
}

.works-padding {
    padding-left: 1rem;
}

.icons {
    text-align: center;
}

i {
    margin: 7rem 1rem 1rem 1rem;
}